
.img_td {
    position: relative;
}

.el-image :hover {
    border: #66ccff 0.5px solid;
}

.tools {
    position: absolute;
    background-color: #f2f2f2;
    bottom: 0px;
    z-index: 100;
}

.el-icon :hover {
    cursor: pointer;
}